In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [8]:
df.shape

(55, 12)

In [9]:
#Checking for missing values

df.isnull().sum()

Year                  0
Population            0
Total                 0
Violent               0
Property              0
Murder                0
Forcible_Rape         0
Robbery               0
Aggravated_assault    0
Burglary              0
Larceny_Theft         0
Vehicle_Theft         0
dtype: int64

In [10]:
#Violent and Property column does not make any sense so, dropping it

df1 = df.drop(['Violent', 'Property'], axis=1)

In [12]:
df1.head()

,Year,Population,Total,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,9360,21420,130390,203050,1213200,2514400,472800

In [13]:
#Write to CSV file

df1.to_csv('US_Crime_Rates1.csv', index=False)

In [14]:
! ls

19.2.MySQL
Abstraction, Inheritance, excapsulation.ipynb
Break Vs Pass.ipynb
Cassandra_05222021.ipynb
Chir
File aggregation in one file - Vinod
FileAutomation
Files test
Flask
Flask and Jango.ipynb
Functions - 04032021.ipynb
HR analytics_class_06062021.csv
Logging & Exception handling.ipynb
Mongo DB.ipynb
Numpy and its in-built functions.ipynb
OOPs class_04112021.ipynb
Pandas_05062021.ipynb
Pandas_Class assignment_06062021.ipynb
Python SQL connection.ipynb
Python basic - Assignment 1.ipynb
Python basic - Assignment 2.ipynb
Python basic - Assignment 3.ipynb
Python basics Class 1 - PC.ipynb
Range, for, while loop practice_03102021.ipynb
Reading and writing files.ipynb
SQL project
String Object and Collections - FT.ipynb
String, Tuples, Set, Dictionary, List.ipynb
Task_29052021.txt
US_Crime_Rates1.csv
Virtual env_Django install.txt
__pycache__
carbon_nanotubes.csv
log
logging
logging and debuging_Class.ipynb
secure-connect-test1.zip
test project1
test1
test1.py
test2.log
test2.py

In [15]:
df = pd.read_csv('US_Crime_Rates1.csv')

In [17]:
df.shape

(55, 10)

In [18]:
#If we want to see all rows (in case there are many rows)

pd.set_option('display.max_rows', df.shape[0]+1)

In [19]:
df

,Year,Population,Total,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,14760,37170,298850,311090,1981900,3888600,878500
10,1970,203235298,8098000,16000,37990,349860,334970,2205000,4225800,928400
11,1971,206212000,8588200,17780,42260,387700,368760,2399300,4424200,948200
12,1972,208230000,8248800,18670,46850,376290,393090,2375500,4151200,887200
13,1973,209851000,8718100,19640,51400,384220,420650,2565500,4347900,928800
14,1974,211392000,10253400,20710,55400,442400,456210,3039200,5262500,977100
15,1975,213124000,11292400,20510,56090,470500,492620,3265300,5977700,1009600
16,1976,214659000,11349700,18780,57080,427810,500530,3108700,6270800,966000
17,1977,216332000,10984500,19120,63500,412610,534350,3071500,5905700,977700
18,1978,218059000,11209000,19560,67610,426930,571460,3128300,5991000,1004100
19,1979,220099000,12249500,21460,76390,480700,629480,3327700,6601000,1112800
20,1980,225349264,13408300,23040,82990,565840,672650,3795200,7136900,1131700
21,1981,229146000,13423800,22520,82500,592910,663900,3779700,7194400,1087800
22,1982,231534000,12974400,21010,78770,553130,669480,3447100,7142500,1062400
23,1983,233981000,12108600,19310,78920,506570,653290,3129900,6712800,1007900
24,1984,236158000,11881800,18690,84230,485010,685350,2984400,6591900,1032200
25,1985,238740000,12431400,18980,88670,497870,723250,3073300,6926400,1102900
26,1986,240132887,13211869,20613,91459,542775,834322,3241410,7257153,1224137
27,1987,242282918,13508700,20096,91110,517704,855088,3236184,7499900,1288674
28,1988,245807000,13923100,20680,92490,542970,910090,3218100,7705900,1432900
29,1989,248239000,14251400,21500,94500,578330,951710,3168200,7872400,1564800
30,1990,248709873,14475600,23440,102560,639270,1054860,3073900,7945700,1635900
31,1991,252177000,14872900,24700,106590,687730,1092740,3157200,8142200,1661700
32,1992,255082000,14438200,23760,109060,672480,1126970,2979900,7915200,1610800
33,1993,257908000,14144800,24530,106010,659870,1135610,2834800,7820900,1563100
34,1994,260341000,13989500,23330,102220,618950,1113180,2712800,7879800,1539300
35,1995,262755000,13862700,21610,97470,580510,1099210,2593800,7997700,1472400
36,1996,265228572,13493863,19650,96250,535590,1037050,2506400,7904700,1394200
37,1997,267637000,13194571,18208,96153,498534,1023201,2460526,7743760,1354189
38,1998,270296000,12475634,16914,93103,446625,974402,2329950,7373886,1240754
39,1999,272690813,11634378,15522,89411,409371,911740,2100739,6955520,1152075
40,2000,281421906,11608072,15586,90178,408016,911706,2050992,6971590,1160002
41,2001,285317559,11876669,16037,90863,423557,909023,2116531,7092267,1228391
42,2002,287973924,11878954,16229,95235,420806,891407,2151252,7057370,1246646
43,2003,290690788,11826538,16528,93883,414235,859030,2154834,7026802,1261226
44,2004,293656842,11679474,16148,95089,401470,847381,2144446,6937089,1237851
45,2005,296507061,11565499,16740,94347,417438,862220,2155448,6783447,1235859
46,2006,299398484,11401511,17030,92757,447403,860853,2183746,6607013,1192809
47,2007,301621157,11251828,16929,90427,445125,855856,2176140,6568572,1095769
48,2008,304374846,11160543,16442,90479,443574,842134,2228474,6588046,958629
49,2009,307006550,10762956,15399,89241,408742,812514,2203313,6338095,795652
50,2010,309330219,10363873,14772,85593,369089,781844,2168457,6204601,739565
51,2011,311587816,10258774,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,14249,84041,325802,741291,1729806,5858496,689527

In [20]:
#reverting back to original display

pd.set_option('display.max_rows', 10)

In [21]:
df

,Year,Population,Total,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,9360,21420,130390,203050,1213200,2514400,472800
...,...,...,...,...,...,...,...,...,...,...
50,2010,309330219,10363873,14772,85593,369089,781844,2168457,6204601,739565
51,2011,311587816,10258774,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,14249,84041,325802,741291,1729806,5858496,689527

In [22]:
df.dtypes

Year                  int64
Population            int64
Total                 int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

# Some analysis to answer some questions

In [31]:
#Which year had the highest total crime numbers?

df[df['Total'] == df['Total'].max()]

,Year,Population,Total,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
31,1991,252177000,14872900,24700,106590,687730,1092740,3157200,8142200,1661700

In [32]:
YearMaxCrime = df[df['Total'] == df['Total'].max()]

In [33]:
#So 1991 had the highest number of crimes

YearMaxCrime.Year

31    1991
Name: Year, dtype: int64

In [34]:
#Which year had the highest number of rapes?

YearMaxRapes = df[df['Forcible_Rape'] == df['Forcible_Rape'].max()]

In [35]:
#So 1992 had the max number of rapes

YearMaxRapes.Year

32    1992
Name: Year, dtype: int64

In [ ]:
# Which year had the highest per capita crime?

In [38]:
# create a new column 'PerCapitaCrime'

df['PerCapitaCrime'] = (df['Total'] / df['Population'])*100

In [39]:
df

,Year,Population,Total,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft,PerCapitaCrime
0,1960,179323175,3384200,9110,17190,107840,154320,912100,1855400,328200,1.887207
1,1961,182992000,3488000,8740,17220,106670,156760,949600,1913000,336000,1.906094
2,1962,185771000,3752200,8530,17550,110860,164570,994300,2089600,366800,2.019799
3,1963,188483000,4109500,8640,17650,116470,174210,1086400,2297800,408300,2.180303
4,1964,191141000,4564600,9360,21420,130390,203050,1213200,2514400,472800,2.388080
...,...,...,...,...,...,...,...,...,...,...,...
50,2010,309330219,10363873,14772,85593,369089,781844,2168457,6204601,739565,3.350424
51,2011,311587816,10258774,14661,84175,354772,752423,2185140,6151095,716508,3.292418
52,2012,313873685,10219059,14866,85141,355051,762009,2109932,6168874,723186,3.255787
53,2013,316497531,9850445,14319,82109,345095,726575,1931835,6018632,700294,3.112329
54,2014,318857056,9475816,14249,84041,325802,741291,1729806,5858496,689527,2.971807

In [40]:
#Which year had the highest per capita crime?

YearMaxPCC = df[df['PerCapitaCrime'] == df['PerCapitaCrime'].max()]

In [41]:
#So year 1980 had the highest percapita crimes
YearMaxPCC.Year

20    1980
Name: Year, dtype: int64

In [42]:
#Lets do a correlation between columns

corr = df.corr()
corr

,Year,Population,Total,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft,PerCapitaCrime
Year,1.000000,0.996553,0.597025,0.256010,0.825216,0.451001,0.792431,0.157445,0.703818,0.436975,0.176262
Population,0.996553,1.000000,0.536348,0.188833,0.782429,0.387308,0.748054,0.092560,0.649060,0.377624,0.103510
Total,0.597025,0.536348,1.000000,0.887144,0.928156,0.965439,0.897225,0.823891,0.986707,0.912546,0.889304
Murder,0.256010,0.188833,0.887144,1.000000,0.699655,0.960156,0.668511,0.920207,0.806279,0.856600,0.955320
Forcible_Rape,0.825216,0.782429,0.928156,0.699655,1.000000,0.847794,0.974379,0.588529,0.967417,0.826284,0.662655
...,...,...,...,...,...,...,...,...,...,...,...
Aggravated_assault,0.792431,0.748054,0.897225,0.668511,0.974379,0.826500,1.000000,0.498449,0.941906,0.858725,0.626576
Burglary,0.157445,0.092560,0.823891,0.920207,0.588529,0.864444,0.498449,1.000000,0.734091,0.690423,0.955171
Larceny_Theft,0.703818,0.649060,0.986707,0.806279,0.967417,0.920460,0.941906,0.734091,1.000000,0.885326,0.809161
Vehicle_Theft,0.436975,0.377624,0.912546,0.856600,0.826284,0.916280,0.858725,0.690423,0.885326,1.000000,0.843648
PerCapitaCrime,0.176262,0.103510,0.889304,0.955320,0.662655,0.927412,0.626576,0.955171,0.809161,0.843648,1.000000